.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 30px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px black;
}

.float:hover {
  color: white;
}

.whatsappFloat {
  margin-top: 28px;
  font-size: 33px;
}

.float2 {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 30px;
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  /* box-shadow: 2px 2px 3px black; */
}

.scrollToTop {
  margin-top: 28px;
  font-size: 40px;
  color: #ee8028;
}
